<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <config>
        <add key="globalPackagesFolder" value="./packages"/>
    </config>

    <packageSources>

        <clear/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <!-- <add key="development" value="https://bakialtun.visualstudio.com/Development-Framework/_packaging/Development/nuget/v3/index.json" /> -->
        <!-- <add key="local" value="./.nupkgs" /> -->

    </packageSources>

    <packageSourceCredentials>
        
        <development>
            <add key="Username" value="bakialtun08@gmail.com" />
            <!-- Expire Date: 2022-01-01 -->
            <add key="ClearTextPassword" value="" />
        </development>
    </packageSourceCredentials>

</configuration>
